body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
.banner {
	font-family: Arial, Helvetica, sans-serif;
    width:318px;
    height:48px;
    border:1px solid #333;
    overflow:hidden;   
}

.positionAb {
    position: absolute;
}

#loader-container {
    display:none;	
}

.retina {
    background-size: contain;
    background-repeat: no-repeat;
}

#clicktag {
    background: rgba(0,0,0,0);
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
}

#bg {
    background: url(bg.jpg);
    top: 0;
    left: 0;
    width: 320px;
    height: 50px;
}

#lens {
    background: url(lens.png);
    top: 10px;
    left: 128px;
    width: 78px;
    height: 29px;
    opacity: 0;
}

#logo {
    background: url(logo.svg) no-repeat;
    top: 9px;
    left: 11px;
    width: 73px;
    height: 11px;
    opacity: 0;
}

#text1 {
    background-image: url(text1.png);
    top: 27px;
    left: 11px;
    width: 102px;
    height: 12px;
    opacity: 0;
}

#text2 {
    background-image: url(text2.png);
    top: 27px;
    left: 11px;
    width: 110px;
    height: 12px;
    opacity: 0;
}

#cta {
    background: url(cta.png) no-repeat;
    background-size: 99px 25px;
    top: 9px;
    left: 215px;
    width: 99px;
    height: 25px;
    opacity: 0;
}

#legal {
    background: url(legal.png) no-repeat;
    background-size: contain;
    top: 37px;
    left: 233px;
    width: 63px;
    height: 6px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

#disclaimer {
    background: rgba(0,0,0,0.5);
    width: 318px;
    height: 48px;
    z-index: 102;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}