body {
    background-color: black;
    width: 100%;
    height: 100%;
}
h1{
    color:orange;
    text-align:center;
    border:10px solid orange;
    font-size:50px;
}
h2{
    color:orange;
    text-align:center;
    font-size:25px;
    border:5px dotted orange;
}
img.link1{
    width:170px;
    height:170px;
    border:3px solid orange;
    align-items: right;
}
img.link2{
    width:170px;
    height:170px;
    border:3px solid white;  
    align-items: left;
}
img.link3{
    width:170px;
    height:170px;
    border:3px solid orange;  
}
div.column{
    margin: 30px;
}
p.main{
    font-size:18px;
    font-family:arial;
    text-align:left;
    text-indent: 30px;
    color: orange;
}
p{
    text-align:center;
}
/* Turns resume link into button.
source: "https://stackoverflow.com/questions/710089/how-do-i-make-an-html-link-look-like-a-button" */
.Link {
    font: bold 30px Arial;
    background-color: #CCCCCC;
    color: orange;
    padding: 2px 2px 2px 2px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
.Link2 {
      font: 15px Arial;
      color: orange;
  }
a.Link2:hover {
      color: white;
  }
a.Link:hover {
    color: black;
}
p.stuff{
    color: white;
    font: 40px Arial;
    text-align: left;
}