body {
    background-color: black;
}
h1{
    color:orange;
    text-align:center;
    border:10px solid orange;
    font-size:50px;
}
h2{
    color:orange;
    text-align:center;
    font-size:25px;
    border:5px dotted orange;
}
img.link1{
    width:110px;
    height:110px;
    border:3px solid orange;
    align-items: right;
}
img.link2{
    width:110px;
    height:110px;
    border:3px solid white;  
    align-items: left;
}
img.link3{
    width:110px;
    height:110px;
    border:3px solid orange;  
}
div.column{
    margin: 30px;
}
p.main{
    font-size:18px;
    font-family:arial;
    text-align:left;
    text-indent: 30px;
    color: orange;
    -webkit-text-stroke: 1px solid black;
}
p{
    text-align:center;
}
.Link {
    font: bold 30px Arial;
    text-decoration: black;
    background-color: #CCCCCC;
    color: orange;
    padding: 2px 2px 2px 2px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
